*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.3s linear;
    z-index: 1000;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    flex-direction: column;
}

.step_one{
    display: flex;
    align-items: center;
    justify-content: space-between;
}